@model IEnumerable<PeopleMVC.Models.Person>

@{
    ViewData["Title"] = "Home";
}

<form method="get" action="@Url.ActionLink("Index", "Home")">
    <div class="search-form">
        <input type="text" name="filterWord" value="Search" required>
        <input type="submit" value="Search">
    </div>
</form>


<div class="text-center">
    <form method="post" action="@Url.ActionLink("Create", "Home")">
        <input type="text" name="Name" value="Name" required>
        <input type="text" name="PhoneNumber" value="Phone" required>
        <input type="text" name="City" value="City" required>
        <input type="submit" value="Add">
    </form>
</div>

<partial name="~/Views/Shared/_PeoplePartial.cshtml" model="Model"></partial>




