@model IEnumerable<PeopleMVC.Models.Person>

@foreach (var item in Model)
{
    <div class="container">
        <div class="list-group">
            <div class="row">
                <div class="list-group-item">
                    <div class="row text-center">
                        <div>
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.City)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}