@model Person

<div class="container">
    <div class="list-group">
        <div class="row">
            <div class="list-group-item">
                <div class="row text-center">
                    <div>
                        @Model.Name
                    </div>
                    <div>
                        @Model.PhoneNumber
                    </div>
                    <div>
                        @Model.City
                    </div>
                    <div>
                        @Model.Id
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
